* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 16px;
  font-family: sans-serif;
  background-color: hsl(210, 100%, 75%);
}

#main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#title {
  margin: 3rem 0 0.5rem 0;
}

#survey-form {
  margin: 3rem 0;
  padding: 3rem;
  width: 95%;
  max-width: 600px;
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 0 0 hsla(220, 100%, 50%, 0.3);
  background-color: hsl(210, 40%, 90%);
}

.form-div {
  margin-bottom: 2rem;
}

input,
textarea,
select {
  width: 100%;
  height: 4rem;
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
}

textarea {
  min-height: 150px;
  padding: 1rem;
}

[type="checkbox"],
[type="radio"] {
  width: max-content;
  height: max-content;
}

button {
  width: 20rem;
  height: 3rem;
}
